Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01

Remove redundant SourceBuildTrimNetFrameworkTargets property
  eng/SourceBuild.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Remove redundant SourceBuildTrimNetFrameworkTargets property (#6801)
  eng/SourceBuild.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update short name for Authoring readme.md
  template_feed/Microsoft.TemplateEngine.Authoring.Templates/README.md
Owners: @dotnet/templating-engine-maintainers

include packaging of Readme file
  template_feed/Microsoft.TemplateEngine.Authoring.Templates/content/TemplatePackage/New.Template.Package.csproj
Owners: @dotnet/templating-engine-maintainers

fix test failures
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.Basic.verified/templatepack/templatepack.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.CLI.verified/templatepack/templatepack.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.NoMSBuildTasks.verified/templatepack/templatepack.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.WithName.verified/templatepack/MyTemplatePackage.csproj
Owners: @dotnet/templating-engine-maintainers

update System.CommandLine to the latest version (#6340)
  eng/Version.Details.xml
  eng/Versions.props
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/ValidateCommandTests.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/ExecutableCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/Verify/VerifyCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/LocalizeCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/export/ExportCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Program.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Program.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update all nuget packages at once.
  eng/dependabot/Packages.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update short name for Authoring + readme.md (#6807)
  template_feed/Microsoft.TemplateEngine.Authoring.Templates/README.md
  template_feed/Microsoft.TemplateEngine.Authoring.Templates/content/TemplatePackage/New.Template.Package.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.Basic.verified/templatepack/templatepack.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.CLI.verified/templatepack/templatepack.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.NoMSBuildTasks.verified/templatepack/templatepack.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Snapshots/templatepack.WithName.verified/templatepack/MyTemplatePackage.csproj
Owners: @dotnet/templating-engine-maintainers

Update branding to 6.0.121
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.316
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.413
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.110
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.307
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Stabilize branding for the 7.0.400 release
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

React to CliAction changes
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/ExecutableCommand.cs
Owners: @dotnet/templating-engine-maintainers

Remove dependabot on branch 7.0.1xx，7.0.2xx and 7.0.3xx
  .github/dependabot.yml
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230713.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230710.16
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230710.16
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230713.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230713.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230713.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fixes #2384 added the documentation for template group identity
  docs/Reference-for-template.json.md
  docs/Using-Group-Identity.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Enable BinSkim scan
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

RC 1 branding
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Fix the code line that violate rule
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

Fix
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

Set members to readonly
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

Update branding to 6.0.122
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.317
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.414
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.111
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.308
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.401
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Change
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Automate the label updates
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Remove sourcelink dependency
  eng/Version.Details.xml
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230810.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230810.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230810.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01
