Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

rename trusted -> reserved according to nuget team request
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateSearch.Common/Abstractions/ITemplatePackageInfo.cs
  src/Microsoft.TemplateSearch.Common/Abstractions/TemplatePackageSearchData.cs
  src/Microsoft.TemplateSearch.Common/PublicAPI.Shipped.txt
  src/Microsoft.TemplateSearch.Common/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/LegacySearchCacheReader.cs
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/PackInfo.cs
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/PackToTemplateEntry.cs
  src/Microsoft.TemplateSearch.Common/TemplateSearchCache/TemplatePackageSearchData.Json.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
  test/Microsoft.TemplateEngine.Mocks/MockTemplatePackageInfo.cs
  test/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests/NuGetTests.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackProvider.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackageSourceInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/PackChecking/DownloadedPackInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/PackChecking/FilteredPackageInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Results/LegacyMetadataWriter.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TestProvider/TestPackProvider.cs
Owners: @dotnet/templating-engine-maintainers

fix missed field in declared public API
  src/Microsoft.TemplateSearch.Common/PublicAPI.Unshipped.txt
Owners: @dotnet/templating-engine-maintainers

Enable nullable on Microsoft.TemplateEngine.Core.UnitTests
  src/Microsoft.TemplateEngine.Core/Operations/InlineMarkupConditional.cs
  src/Microsoft.TemplateEngine.Core/PublicAPI.Shipped.txt
  test/Microsoft.TemplateEngine.Core.UnitTests/ChunkStreamReadTests.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/CombinedStreamTests.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/ConditionalTests.CStyleEvaluator.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/ConditionalTests.XmlBlockComments.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/Cpp2EvaluatorTests.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/Microsoft.TemplateEngine.Core.UnitTests.csproj
  test/Microsoft.TemplateEngine.Core.UnitTests/OperationTrieTests.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/StreamProxyTests.cs
  test/Microsoft.TemplateEngine.Core.UnitTests/VariablesTests.cs
Owners: @dotnet/templating-engine-maintainers

fix review comment
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IMacroDependency.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CoalesceMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/EvaluateMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/JoinMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/MacroConfigDependencyResolver.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/MacrosSorter.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/ProcessValueFormMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMatchMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/SwitchMacroConfig.cs
Owners: @dotnet/templating-engine-maintainers

rename trusted -> reserved according to nuget team request (#6646)
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateSearch.Common/Abstractions/ITemplatePackageInfo.cs
  src/Microsoft.TemplateSearch.Common/Abstractions/TemplatePackageSearchData.cs
  src/Microsoft.TemplateSearch.Common/PublicAPI.Shipped.txt
  src/Microsoft.TemplateSearch.Common/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/LegacySearchCacheReader.cs
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/PackInfo.cs
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/PackToTemplateEntry.cs
  src/Microsoft.TemplateSearch.Common/TemplateSearchCache/TemplatePackageSearchData.Json.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
  test/Microsoft.TemplateEngine.Mocks/MockTemplatePackageInfo.cs
  test/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests/NuGetTests.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackProvider.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackageSourceInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/PackChecking/DownloadedPackInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/PackChecking/FilteredPackageInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Results/LegacyMetadataWriter.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TestProvider/TestPackProvider.cs
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2192167
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2192167
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

merge
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettingsTemplatePackageProvider.cs
Owners: @dotnet/templating-engine-maintainers

add review comment to sb files
  eng/SourceBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2192215 (#6655)
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

fix review comment - get rid of GeneratedMacrosResolver
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IGeneratedSymbolMacroConfigCreator.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseGeneratedSymbolMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CaseChangeMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CoalesceMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/ConstantMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GeneratePortNumberMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GeneratedMacrosResolver.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GuidMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/JoinMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/NowMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RandomMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMatchMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/SwitchMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectConfig.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithComputedInDerivedThroughGenerated._.verified/std-streams/stderr.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithComputedInDerivedThroughGenerated._.verified/std-streams/stdout.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithComputedInGenerated._.verified/std-streams/stderr.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithComputedInGenerated._.verified/std-streams/stdout.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithGeneratedInComputed._.verified/std-streams/stderr.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithGeneratedInComputed._.verified/std-streams/stdout.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithGeneratedSwitchInComputed._.verified/std-streams/stderr.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestTemplateWithGeneratedSwitchInComputed._.verified/std-streams/stdout.txt
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
Owners: @dotnet/templating-engine-maintainers

fix tests failure
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IGeneratedSymbolMacroConfigCreator.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseGeneratedSymbolMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CaseChangeMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CoalesceMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/ConstantMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GeneratePortNumberMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GuidMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/JoinMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/NowMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RandomMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMatchMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/SwitchMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PublicAPI.Unshipped.txt
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/Approvals/LegacyTests.PortsAndCoalesceRenames.received/TestAssets.TemplateWithPortsAndCoalesce/bar.cs
Owners: @dotnet/templating-engine-maintainers

Enable nullable on Microsoft.TemplateEngine.Mocks
  test/Microsoft.TemplateEngine.Mocks/Microsoft.TemplateEngine.Mocks.csproj
  test/Microsoft.TemplateEngine.Mocks/MockCreationEffects.cs
  test/Microsoft.TemplateEngine.Mocks/MockCreationPath.cs
  test/Microsoft.TemplateEngine.Mocks/MockCreationResult.cs
  test/Microsoft.TemplateEngine.Mocks/MockDirectory.cs
  test/Microsoft.TemplateEngine.Mocks/MockEnvironment.cs
  test/Microsoft.TemplateEngine.Mocks/MockFile.cs
  test/Microsoft.TemplateEngine.Mocks/MockFileChange.cs
  test/Microsoft.TemplateEngine.Mocks/MockFileSystem.cs
  test/Microsoft.TemplateEngine.Mocks/MockGlobalRunSpec.cs
  test/Microsoft.TemplateEngine.Mocks/MockManagedTemplatePackageProvider.cs
  test/Microsoft.TemplateEngine.Mocks/MockMountPoint.cs
  test/Microsoft.TemplateEngine.Mocks/MockOperation.cs
  test/Microsoft.TemplateEngine.Mocks/MockOperationProvider.cs
  test/Microsoft.TemplateEngine.Mocks/MockPostAction.cs
  test/Microsoft.TemplateEngine.Mocks/MockTemplateInfo.cs
  test/Microsoft.TemplateEngine.Mocks/MockTemplatePackageInfo.cs
Owners: @dotnet/templating-engine-maintainers

Enable nullable on Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests
  test/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests.csproj
  test/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests/StringExtractorTests.cs
Owners: @dotnet/templating-engine-maintainers

Enable nullable on Microsoft.TemplateEngine.Utils.UnitTests
  test/Microsoft.TemplateEngine.Utils.UnitTests/DefaultTemplatePackageProviderTests.cs
  test/Microsoft.TemplateEngine.Utils.UnitTests/DirectedGraphTests.cs
  test/Microsoft.TemplateEngine.Utils.UnitTests/EqualityExtensionsTests.cs
  test/Microsoft.TemplateEngine.Utils.UnitTests/InstallRequestPathResolutionTests.cs
  test/Microsoft.TemplateEngine.Utils.UnitTests/ListExtensionsTests.cs
  test/Microsoft.TemplateEngine.Utils.UnitTests/Microsoft.TemplateEngine.Utils.UnitTests.csproj
  test/Microsoft.TemplateEngine.Utils.UnitTests/VersionStringTests.cs
  test/Microsoft.TemplateEngine.Utils.UnitTests/WellKnownSearchFiltersTests.cs
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2192843
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2192843
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
Owners: @dotnet/templating-engine-maintainers

Remove the check on #nullable enable since it's applied to all projects
  .github/pull_request_template.md
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2192843 (#6662)
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
Owners: @dotnet/templating-engine-maintainers

add documentation for known issues
  docs/Conditional-processing-and-comment-syntax.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Update Conditional-processing-and-comment-syntax.md
  docs/Conditional-processing-and-comment-syntax.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

PR suggestions
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IDeterministicModeMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IGeneratedSymbolMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IGeneratedSymbolMacroConfigCreator.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IMacroDependency.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/GlobalRunConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/MacroProcessor.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseGeneratedSymbolMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CaseChangeMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CaseChangeMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CoalesceMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CoalesceMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/ConstantMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/EvaluateMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GeneratePortNumberMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GuidMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/JoinMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/JoinMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/MacrosSorter.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/NowMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/ProcessValueFormMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RandomMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMatchMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMatchMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/SwitchMacro.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/SwitchMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.csproj
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectGenerator.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/AllComponents.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroProcessorTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroTests/GeneratePortMacroTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroTests/NowMacroTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroTests/RandomMacroTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValueFormTests/TemplateJsonDefinedFormsTests.cs
Owners: @dotnet/templating-engine-maintainers

Disable IDE0251 on method member
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

fix review comment
  .github/workflows/sync_json_schema_changes.yml
  docs/Conditional-processing-and-comment-syntax.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

remove extra space
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
Owners: @dotnet/templating-engine-maintainers

fix compilation error
  src/Microsoft.TemplateEngine.Core/Expressions/Shared/SharedEvaluatorDefinition.cs
Owners: @dotnet/templating-engine-maintainers

Cover the specific case for 'onlyIf' statement with the suggested workaround for "http://localhost:" (#6680) + docs
  docs/Conditional-processing-and-comment-syntax.md
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/Approvals/TemplateWithOnlyIfStatementTestForLocalhostTest.Basic.verified/TestAssets.TemplateWithOnlyIfForLocalhost/test.json
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithOnlyIfForLocalhost/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithOnlyIfForLocalhost/test.json
Owners: @dotnet/templating-engine-maintainers, @baronfel

extend LatestVersion method
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Abstractions/TemplatePackage/IManagedTemplatePackageProvider.cs
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettingsTemplatePackageProvider.cs
  src/Microsoft.TemplateEngine.IDE/Bootstrapper.cs
  test/Microsoft.TemplateEngine.Mocks/MockManagedTemplatePackageProvider.cs
Owners: @dotnet/templating-engine-maintainers

Update branding to 6.0.119
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.314
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.411
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.108
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.207
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.305
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Add missing nullability annotations in the declared API
  src/Microsoft.TemplateEngine.Core/Expressions/Shared/SharedEvaluatorDefinition.cs
  src/Microsoft.TemplateEngine.Core/PublicAPI.Shipped.txt
Owners: @dotnet/templating-engine-maintainers

disable warnings
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

Enable nullable at top level
  Directory.Build.props
  src/Microsoft.TemplateEngine.Abstractions/Microsoft.TemplateEngine.Abstractions.csproj
  src/Microsoft.TemplateEngine.Core.Contracts/Microsoft.TemplateEngine.Core.Contracts.csproj
  src/Microsoft.TemplateEngine.Core/Microsoft.TemplateEngine.Core.csproj
  src/Microsoft.TemplateEngine.Edge/Microsoft.TemplateEngine.Edge.csproj
  src/Microsoft.TemplateEngine.IDE/Microsoft.TemplateEngine.IDE.csproj
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.csproj
  src/Microsoft.TemplateEngine.Utils/Microsoft.TemplateEngine.Utils.csproj
  src/Microsoft.TemplateSearch.Common/Microsoft.TemplateSearch.Common.csproj
  src/Shared/JExtensions.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/Microsoft.TemplateEngine.Authoring.CLI.UnitTests.csproj
  test/Microsoft.TemplateEngine.Authoring.Tasks.IntegrationTests/Microsoft.TemplateEngine.Authoring.Tasks.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.TemplateVerifier.IntegrationTests/Microsoft.TemplateEngine.Authoring.TemplateVerifier.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.TemplateVerifier.UnitTests/Microsoft.TemplateEngine.Authoring.TemplateVerifier.UnitTests.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Core.UnitTests/Microsoft.TemplateEngine.Core.UnitTests.csproj
  test/Microsoft.TemplateEngine.Edge.UnitTests/Microsoft.TemplateEngine.Edge.UnitTests.csproj
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/Microsoft.TemplateEngine.IDE.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Mocks/Microsoft.TemplateEngine.Mocks.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests.csproj
  test/Microsoft.TemplateEngine.TestHelper/Microsoft.TemplateEngine.TestHelper.csproj
  test/Microsoft.TemplateEngine.Utils.UnitTests/Microsoft.TemplateEngine.Utils.UnitTests.csproj
  test/Microsoft.TemplateSearch.Common.UnitTests/Microsoft.TemplateSearch.Common.UnitTests.csproj
  test/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests.csproj
  tools/Microsoft.TemplateEngine.Authoring.CLI/Microsoft.TemplateEngine.Authoring.CLI.csproj
  tools/Microsoft.TemplateEngine.Authoring.Tasks/Microsoft.TemplateEngine.Authoring.Tasks.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateApiVerifier/Microsoft.TemplateEngine.Authoring.TemplateApiVerifier.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
  tools/Microsoft.TemplateEngine.TemplateLocalizer.Core/Microsoft.TemplateEngine.TemplateLocalizer.Core.csproj
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Microsoft.TemplateSearch.TemplateDiscovery.csproj
Owners: @dotnet/templating-engine-maintainers

extend GetLatestVersionAsync call
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IUpdateChecker.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
Owners: @dotnet/templating-engine-maintainers

add data update step in GlobalProvider
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettingsTemplatePackageProvider.cs
Owners: @dotnet/templating-engine-maintainers

extend test coverage
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IMacroDependency.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroProcessorTests.cs
Owners: @dotnet/templating-engine-maintainers

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01
