Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01

Try to fix the errors
  .editorconfig
  test/Microsoft.TemplateEngine.TestHelper/EnvironmentSettingsHelper.cs
Owners: @dotnet/templating-engine-maintainers

Update dependencies from runtime 197647
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 197647
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 197647
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231018.19
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 197670
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231018.22
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231018.22
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231018.22
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Revert "Bump Verify.XUnit from 20.4.0 to 22.1.3 in /eng/dependabot"
  eng/dependabot/Packages.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Set IDE0290 to silent as primary constructors do not work for the .NET 4.7.2 build.
  .editorconfig
Owners: @dotnet/templating-engine-maintainers

Set IDE0290 to silent as primary constructors do not work for the .NET 4.7.2 build.
  .editorconfig
Owners: @dotnet/templating-engine-maintainers

Ignore IDE0005 since GenerateDocumentationFile is not set to true. See: https://github.com/dotnet/roslyn/issues/41640
  .editorconfig
Owners: @dotnet/templating-engine-maintainers

Ignore IDE0005 since GenerateDocumentationFile is not set to true. See: https://github.com/dotnet/roslyn/issues/41640
  .editorconfig
Owners: @dotnet/templating-engine-maintainers

Remove dependabot updates to release/8.0.1xx.
  .github/dependabot.yml
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231019.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231019.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231019.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231019.10
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Fix merge issues.
  eng/Versions.props
  global.json
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fixed typo
  docs/Conditions.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Stabilize package versions
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Stabilize package versions (#7196)
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 34805: [internal/release/8.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

React to xliff-tasks -> arcade repo consolidation
  eng/Version.Details.xml
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fix typo
  README.md
Owners: @dotnet/templating-engine-maintainers

fix typos
  docs/Available-Symbols-Generators.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

fix typos
  docs/Conditional-processing-and-comment-syntax.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

fix typos
  docs/Reference-for-template.json.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Fix incompatibility
  Directory.Build.props
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231030.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Turn of stable versions
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Switch back to the shipped RC2 version. We should explore removing this dependency entirely.
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 34958: [internal/release/8.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Add dotnet-templating feed
  NuGet.config
Owners: @dotnet/templating-engine-maintainers

Turn of stable versions
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Revert NuGet.config
  NuGet.config
Owners: @dotnet/templating-engine-maintainers

Remove the blob feed per https://github.com/dotnet/arcade/issues/13963
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Remove blobfeed per https://github.com/dotnet/arcade/issues/13963
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Removed the dependency on dotnet/runtime from the repo.
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Owners: @dotnet/templating-engine-maintainers, @GangWang01
