Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01

extend test covarage
  docs/Available-Symbols-Generators.md
  docs/contributing/how-to-create-new-generated-symbol.md
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Fakes/FakeMacro.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Fakes/FakeMacroConfig.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroProcessorTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/RunnableProjectConfigTests.cs
Owners: @dotnet/templating-engine-maintainers, @baronfel

remove extra code
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Abstractions/TemplatePackage/IManagedTemplatePackageProvider.cs
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettingsTemplatePackageProvider.cs
  src/Microsoft.TemplateEngine.IDE/Bootstrapper.cs
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230608.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230608.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230608.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230608.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Enable nullable at top level (#6694)
  Directory.Build.props
  src/Microsoft.TemplateEngine.Abstractions/Microsoft.TemplateEngine.Abstractions.csproj
  src/Microsoft.TemplateEngine.Core.Contracts/Microsoft.TemplateEngine.Core.Contracts.csproj
  src/Microsoft.TemplateEngine.Core/Microsoft.TemplateEngine.Core.csproj
  src/Microsoft.TemplateEngine.Edge/Microsoft.TemplateEngine.Edge.csproj
  src/Microsoft.TemplateEngine.IDE/Microsoft.TemplateEngine.IDE.csproj
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.csproj
  src/Microsoft.TemplateEngine.Utils/Microsoft.TemplateEngine.Utils.csproj
  src/Microsoft.TemplateSearch.Common/Microsoft.TemplateSearch.Common.csproj
  src/Shared/JExtensions.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/Microsoft.TemplateEngine.Authoring.CLI.UnitTests.csproj
  test/Microsoft.TemplateEngine.Authoring.Tasks.IntegrationTests/Microsoft.TemplateEngine.Authoring.Tasks.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.TemplateVerifier.IntegrationTests/Microsoft.TemplateEngine.Authoring.TemplateVerifier.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.TemplateVerifier.UnitTests/Microsoft.TemplateEngine.Authoring.TemplateVerifier.UnitTests.csproj
  test/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests/Microsoft.TemplateEngine.Authoring.Templates.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Core.UnitTests/Microsoft.TemplateEngine.Core.UnitTests.csproj
  test/Microsoft.TemplateEngine.Edge.UnitTests/Microsoft.TemplateEngine.Edge.UnitTests.csproj
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/Microsoft.TemplateEngine.IDE.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Mocks/Microsoft.TemplateEngine.Mocks.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests/Microsoft.TemplateEngine.TemplateLocalizer.Core.UnitTests.csproj
  test/Microsoft.TemplateEngine.TestHelper/Microsoft.TemplateEngine.TestHelper.csproj
  test/Microsoft.TemplateEngine.Utils.UnitTests/Microsoft.TemplateEngine.Utils.UnitTests.csproj
  test/Microsoft.TemplateSearch.Common.UnitTests/Microsoft.TemplateSearch.Common.UnitTests.csproj
  test/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests.csproj
  tools/Microsoft.TemplateEngine.Authoring.CLI/Microsoft.TemplateEngine.Authoring.CLI.csproj
  tools/Microsoft.TemplateEngine.Authoring.Tasks/Microsoft.TemplateEngine.Authoring.Tasks.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateApiVerifier/Microsoft.TemplateEngine.Authoring.TemplateApiVerifier.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
  tools/Microsoft.TemplateEngine.TemplateLocalizer.Core/Microsoft.TemplateEngine.TemplateLocalizer.Core.csproj
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Microsoft.TemplateSearch.TemplateDiscovery.csproj
Owners: @dotnet/templating-engine-maintainers

Declare InternalsVisibleTo via .csproj
  Directory.Build.props
  src/Microsoft.TemplateEngine.Core/Globals.cs
  src/Microsoft.TemplateEngine.Core/Microsoft.TemplateEngine.Core.csproj
  src/Microsoft.TemplateEngine.Edge/Globals.cs
  src/Microsoft.TemplateEngine.Edge/Microsoft.TemplateEngine.Edge.csproj
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Global.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.csproj
  src/Microsoft.TemplateEngine.Utils/Globals.cs
  src/Microsoft.TemplateEngine.Utils/Microsoft.TemplateEngine.Utils.csproj
  src/Microsoft.TemplateSearch.Common/Globals.cs
  src/Microsoft.TemplateSearch.Common/Microsoft.TemplateSearch.Common.csproj
  tools/Microsoft.TemplateEngine.Authoring.CLI/Globals.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Microsoft.TemplateEngine.Authoring.CLI.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Globals.cs
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
  tools/Microsoft.TemplateEngine.TemplateLocalizer.Core/Global.cs
  tools/Microsoft.TemplateEngine.TemplateLocalizer.Core/Microsoft.TemplateEngine.TemplateLocalizer.Core.csproj
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Globals.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Microsoft.TemplateSearch.TemplateDiscovery.csproj
Owners: @dotnet/templating-engine-maintainers

Remove the check on #nullable enable since it's applied to all projects (#6663)
  .github/pull_request_template.md
Owners: @dotnet/templating-engine-maintainers

fix test failure
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/RunnableProjectConfigTests.cs
Owners: @dotnet/templating-engine-maintainers

fix review comment
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettingsTemplatePackageProvider.cs
Owners: @dotnet/templating-engine-maintainers

Declare InternalsVisibleTo via .csproj (#6700)
  Directory.Build.props
  src/Microsoft.TemplateEngine.Core/Globals.cs
  src/Microsoft.TemplateEngine.Core/Microsoft.TemplateEngine.Core.csproj
  src/Microsoft.TemplateEngine.Edge/Globals.cs
  src/Microsoft.TemplateEngine.Edge/Microsoft.TemplateEngine.Edge.csproj
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Global.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.csproj
  src/Microsoft.TemplateEngine.Utils/Globals.cs
  src/Microsoft.TemplateEngine.Utils/Microsoft.TemplateEngine.Utils.csproj
  src/Microsoft.TemplateSearch.Common/Globals.cs
  src/Microsoft.TemplateSearch.Common/Microsoft.TemplateSearch.Common.csproj
  tools/Microsoft.TemplateEngine.Authoring.CLI/Globals.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Microsoft.TemplateEngine.Authoring.CLI.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Globals.cs
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
  tools/Microsoft.TemplateEngine.TemplateLocalizer.Core/Global.cs
  tools/Microsoft.TemplateEngine.TemplateLocalizer.Core/Microsoft.TemplateEngine.TemplateLocalizer.Core.csproj
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Globals.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Microsoft.TemplateSearch.TemplateDiscovery.csproj
Owners: @dotnet/templating-engine-maintainers

cover update metadata with tests
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/BootstrapperTestBase.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/TemplatePackagesTests.cs
Owners: @dotnet/templating-engine-maintainers

fix path for linux/osx
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/BootstrapperTestBase.cs
Owners: @dotnet/templating-engine-maintainers

update to 2.0.0-beta4.23307.1
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fix the build
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/ExecutableCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/Verify/VerifyCommand.cs
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230612.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230612.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fix review comment
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/TemplatePackagesTests.cs
Owners: @dotnet/templating-engine-maintainers

Extend update packages capabilities (#6695)
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettingsTemplatePackageProvider.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IUpdateChecker.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/BootstrapperTestBase.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/TemplatePackagesTests.cs
  test/Microsoft.TemplateEngine.Mocks/MockManagedTemplatePackageProvider.cs
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.25
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230612.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.27
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.25
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230612.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230613.25
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Make the configuration running one loc build done in YAML
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

add comments
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Make the configuration running one loc build done in YAML (#6728)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Fix expressions
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Set IDE0290 as suggestion
  .editorconfig
Owners: @dotnet/templating-engine-maintainers

Fix expressions (#6731)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

add test example to documentation
  docs/contributing/how-to-create-new-generated-symbol.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Fix markup.
  docs/contributing/how-to-create-new-generated-symbol.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

additional tests
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Fakes/FakeMacro.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroProcessorTests.cs
Owners: @dotnet/templating-engine-maintainers
