Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01

Update branding to 7.0.107
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.205
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.301
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fix json schema for onlyIf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
Owners: @dotnet/templating-engine-maintainers

fix review comment
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
Owners: @dotnet/templating-engine-maintainers

fix test failure
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SchemaTests/SymbolsTest.json
Owners: @dotnet/templating-engine-maintainers

Design proposal for interactive invocation (#6015)
  docs/design/proposed/interactive-mode.md
  docs/design/proposed/sample-interactive-mode.png
Owners: @dotnet/templating-engine-maintainers, @baronfel

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230503.18
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Support conditional processing for .appxmanifest file using XML condition expression
  docs/Conditional-processing-and-comment-syntax.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/OperationConfig/OperationConfigDefault.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/End2EndTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithConditions/Package.appxmanifest
Owners: @dotnet/templating-engine-maintainers, @baronfel

add sync changes action
  .github/workflows/sync_json_schema_changes.yml
Owners: @dotnet/templating-engine-maintainers

fix typo
  .github/workflows/sync_json_schema_changes.yml
Owners: @dotnet/templating-engine-maintainers

fix Json schema for onlyIf + add one more onlyif test + template.json sync action (#6500)
  .github/workflows/sync_json_schema_changes.yml
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/Approvals/TemplateWithOnlyIfStatementTest.Basic.verified/TestAssets.TemplateWithOnlyIfStatement/test.json
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SchemaTests/SymbolsTest.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithOnlyIfStatement/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithOnlyIfStatement/test.json
Owners: @dotnet/templating-engine-maintainers

Update sync_json_schema_changes.yml
  .github/workflows/sync_json_schema_changes.yml
Owners: @dotnet/templating-engine-maintainers

set the same version as in https://github.com/dotnet/actions-create-pull-request
  .github/workflows/sync_json_schema_changes.yml
Owners: @dotnet/templating-engine-maintainers

Delete sync_json_schema_changes.yml
  .github/workflows/sync_json_schema_changes.yml
Owners: @dotnet/templating-engine-maintainers

[internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

[internal/release/6.0.4xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update Post-Action-Registry.md with "Add a property to an existing JSON file"
  docs/Post-Action-Registry.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Support conditional processing for .appxmanifest file using XML condition expression
  docs/Conditional-processing-and-comment-syntax.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/OperationConfig/OperationConfigDefault.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/End2EndTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithConditions/Package.appxmanifest
Owners: @dotnet/templating-engine-maintainers, @baronfel

Support conditional processing for .appxmanifest file using XML condition expression (#6510)
  docs/Conditional-processing-and-comment-syntax.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/OperationConfig/OperationConfigDefault.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/End2EndTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithConditions/Package.appxmanifest
Owners: @dotnet/templating-engine-maintainers, @baronfel

add post action to json schema
  docs/Post-Action-Registry.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SchemaTests/PostActionTest.json
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/PostActionTests.cs
Owners: @dotnet/templating-engine-maintainers, @baronfel

Add tests for manual instructions in post action
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/PostActionTests.cs
Owners: @dotnet/templating-engine-maintainers

fix tests failure
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SchemaTests/PostActionTest.json
Owners: @dotnet/templating-engine-maintainers

Add tests for manual instructions in post action (#6511)
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/PostActionTests.cs
Owners: @dotnet/templating-engine-maintainers

Delete sync_json_schema_changes.yml github action because it requires more effort than expected (#6508)
  .github/workflows/sync_json_schema_changes.yml
Owners: @dotnet/templating-engine-maintainers

Changed updateOrRemoveValue to handle null values
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/Microsoft.TemplateEngine.Utils/DictionaryExtensions.cs
  src/Microsoft.TemplateEngine.Utils/PublicAPI.Unshipped.txt
Owners: @dotnet/templating-engine-maintainers

Accidentally accepted the wrong merge detail, fixed it
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
Owners: @dotnet/templating-engine-maintainers

Update Post-Action-Registry.md with "Add a property to an existing JSON" + JSON Schema (#6509)
  docs/Post-Action-Registry.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SchemaTests/PostActionTest.json
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/PostActionTests.cs
Owners: @dotnet/templating-engine-maintainers, @baronfel

utilize /eng/common/templates/variables/pool-providers.yml
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

utilize /eng/common/templates/variables/pool-providers.yml
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

utilize /eng/common/templates/variables/pool-providers.yml (#6530)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

[internal/release/6.0.3xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

[release/7.0.2xx] Fix the order processing ComputedMacros and GeneratedSymbolMacros in Derived (#6359)
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectConfig.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestComputedSymbolDependsOnGeneratedSymbol._.verified/TestAssets.TemplateWithComSymDependsOnGenSym/Program.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestComputedSymbolDependsOnGeneratedSymbol_DifferentOrder._.verified/TestAssets.TemplateWithComSymDependsOnGenSym_DiffOrder/Program.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestComputedSymbolUsedInDerivedSymbol_InvalidConfiguration._.verified/TestAssets.TemplateWithComSymInDerSym/Program.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestDerivedSymbolUsedInComputedSymbol._.verified/TestAssets.TemplateWithDerSymInComSym/Program.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestDerivedSymbolUsedInComputedSymbol_DifferentOrder._.verified/TestAssets.TemplateWithDerSymInComSym_DiffOrder/Program.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolUsedInDerivedSymbol_InvalidConfiguration._.verified/TestAssets.TemplateWithGenSymInDerSym/Program.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValueFormTests/TemplateJsonDefinedFormsTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.TestTemplates/Microsoft.TemplateEngine.TestTemplates.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithComputedSymbolDependsOnGeneratedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithComputedSymbolDependsOnGeneratedSymbol/Program.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithComputedSymbolDependsOnGeneratedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithComputedSymbolDependsOnGeneratedSymbol_DifferentOrder/Program.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithComputedSymbolInDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithComputedSymbolInDerivedSymbol/Program.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithDerivedSymbolInComputedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithDerivedSymbolInComputedSymbol/Program.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithDerivedSymbolInComputedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithDerivedSymbolInComputedSymbol_DifferentOrder/Program.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/ToolExtension.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolInDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolInDerivedSymbol/Program.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/ToolExtension.cs
Owners: @dotnet/templating-engine-maintainers

Update to 7.0.304
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update to 7.0.304 (#6546)
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update link to Auth0 Templates
  docs/Available-templates-for-dotnet-new.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

update link to Auth0 Templates (#6555)
  docs/Available-templates-for-dotnet-new.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Merged PR 31283: [internal/release/7.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 31280: [internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 31281: [internal/release/6.0.3xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01
