Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230407.6
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update System.CommandLine to the latest version
  eng/Version.Details.xml
  eng/Versions.props
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/ExecutableCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/Verify/VerifyCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/LocalizeCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/export/ExportCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Program.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Program.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update InstallAzureCLI.sh for fixing function not found issue
  eng/SearchCache/InstallAzureCLI.sh
Owners: @dotnet/templating-engine-maintainers, @GangWang01

add #!/usr/bin/env bash identificator
  eng/SearchCache/InstallAzureCLI.sh
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update InstallAzureCLI.sh for fixing "function not found" issue
  eng/SearchCache/InstallAzureCLI.sh
Owners: @dotnet/templating-engine-maintainers, @GangWang01

fix broken link to site.css
  dotnet-template-samples/content/09-replace-onlyif-after/README.md
Owners: @dotnet/templating-engine-maintainers

fix broken link to site.css (#6375)
  dotnet-template-samples/content/09-replace-onlyif-after/README.md
Owners: @dotnet/templating-engine-maintainers

Make the configuration running one loc build done in YAML
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Make the configuration running one loc build done in YAML
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Enable one loc build
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Add the test that verifies generated join symbol with Ref to derived symbol can be evaluated correctly
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/ToolExtension.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/ToolExtension.cs
Owners: @dotnet/templating-engine-maintainers

Add the test that verifies generated join symbol with Ref to derived symbol can be evaluated correctly
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/ToolExtension.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/ToolExtension.cs
Owners: @dotnet/templating-engine-maintainers

Add the test that verifies generated join symbol with Ref to derived symbol can be evaluated correctly (#6378)
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/ToolExtension.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/ToolExtension.cs
Owners: @dotnet/templating-engine-maintainers

Add the test that verifies generated join symbol with Ref to derived symbol can be evaluated correctly (#6379)
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/ToolExtension.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/ToolExtension.cs
Owners: @dotnet/templating-engine-maintainers

Enable one loc build for release/7.0.4xx (#6377)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Make the configuration running one loc build done in YAML (#6376)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

disable warnings
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

disable warnings
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

add basic method for data migration
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettings.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
  src/Microsoft.TemplateEngine.IDE/Bootstrapper.cs
Owners: @dotnet/templating-engine-maintainers

add tabcomplete property
  src/Microsoft.TemplateEngine.Abstractions/IEngineEnvironmentSettings.cs
  src/Microsoft.TemplateEngine.Abstractions/IEnvironment.cs
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettings.cs
  src/Microsoft.TemplateEngine.Edge/EngineEnvironmentSettings.cs
  src/Microsoft.TemplateEngine.Edge/PublicAPI.Shipped.txt
  src/Microsoft.TemplateEngine.Edge/PublicAPI.Unshipped.txt
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommand.cs
Owners: @dotnet/templating-engine-maintainers

Fixed displayed warning
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
Owners: @dotnet/templating-engine-maintainers

Adde vulnerabilities in UpdateResult
  src/Microsoft.TemplateEngine.Abstractions/Installer/UpdateResult.cs
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
Owners: @dotnet/templating-engine-maintainers

Merged PR 30570: [internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 30619: [internal/release/6.0.3xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 30618: [internal/release/6.0.4xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Adjust first run call
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettings.cs
Owners: @dotnet/templating-engine-maintainers

Merged PR 30456: [internal/release/7.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Test variable
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Test variable
  TestTemplate.yml
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Fix expressions
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Fix expressions
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Fix expressions (#6392)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Fix expressions (#6391)
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Disallow http feeds when looking for templates in NuGet (#6313)
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
Owners: @dotnet/templating-engine-maintainers

Fixed unit test for vulnerable package installation
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
Owners: @dotnet/templating-engine-maintainers

Temporarily disabled tests until we find a suitable package for testing
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Shipped.txt
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
Owners: @dotnet/templating-engine-maintainers

file renames in post action args
  docs/Post-Action-Registry.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ConfigModel/PostActionModel.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ConfigModel/TemplateConfigModel.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/DirectoryBasedTemplate.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/FileRenameGenerator.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PostAction.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PrimaryOutput.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Validation/MandatoryValidationFactory.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hant.xlf
  src/Shared/JExtensions.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Linux.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.OSX.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Windows.verified.txt
  test/Microsoft.TemplateEngine.Edge.UnitTests/ScannerTests.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/End2EndTests.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/LocalizationTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/PostActionTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/PostActions/WithFileRename/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/PostActions/WithFileRename/MyTestProject.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/PostActions/WithFileRename/testfile.json
Owners: @dotnet/templating-engine-maintainers, @baronfel

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2161157
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2161157
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

Merged PR 30750: [internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01
