Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

fix review comments
  docs/Available-Symbols-Generators.md
  docs/contributing/how-to-create-new-generated-symbol.md
  src/Microsoft.TemplateEngine.Core/Expressions/Shared/SharedEvaluatorDefinition.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IMacroDependency.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hant.xlf
  test/Microsoft.TemplateEngine.Core.UnitTests/Cpp2EvaluatorTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Fakes/FakeMacro.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Fakes/FakeMacroConfig.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroProcessorTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroTests/FakeMacroTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/RunnableProjectConfigTests.cs
Owners: @dotnet/templating-engine-maintainers, @baronfel

fix tests failure
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/BaseMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CaseChangeMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/CoalesceMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/EvaluateMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/JoinMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/ProcessValueFormMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/RegexMatchMacroConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/SwitchMacroConfig.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Fakes/FakeMacroConfig.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroProcessorTests.cs
Owners: @dotnet/templating-engine-maintainers

add documentation
  src/Microsoft.TemplateEngine.Core/Expressions/Shared/SharedEvaluatorDefinition.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Abstractions/IGeneratedSymbolMacro.cs
Owners: @dotnet/templating-engine-maintainers

add missed documentation
  src/Microsoft.TemplateEngine.Core/Expressions/Shared/SharedEvaluatorDefinition.cs
Owners: @dotnet/templating-engine-maintainers

Fix test with non-existent package name
  test/dotnet-new3.UnitTests/DotnetNewInstall.cs
Owners: @dotnet/templating-engine-maintainers

Fix test with non-existent package name
  test/dotnet-new3.UnitTests/DotnetNewInstall.cs
Owners: @dotnet/templating-engine-maintainers

Fix test with non-existent package name
  test/dotnet-new3.UnitTests/DotnetNewInstall.cs
Owners: @dotnet/templating-engine-maintainers

Update branding to 6.0.119
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 182027
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.314
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 182027
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.411
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 182027
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Disable integration testing
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Disable integration testing
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Disable integration testing
  azure-pipelines.yml
Owners: @dotnet/templating-engine-maintainers

Update branding to 7.0.108
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from runtime 182032
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

disable warnings
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

Update branding to 7.0.305
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2203880
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2203880 (#6770)
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

Update branding to 6.0.120
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.315
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.412
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.109
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.306
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32074: [internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32075: [internal/release/6.0.3xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32078: [internal/release/6.0.4xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

add branding for .net 8 preview 7
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2206192
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2206192 (#6784)
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
Owners: @dotnet/templating-engine-maintainers

Merged PR 32092: [internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32079: [internal/release/7.0.1xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

add branding for .net 8 preview 7 (#6782)
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

preview6 branding
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32163: Fix shas for July
  eng/Version.Details.xml
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32164: Fix shas for July
  eng/Version.Details.xml
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Merged PR 32165: Fix shas for July
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01
