Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01

Trim away netframework targets in source-build
  eng/SourceBuild.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

remove unused dependency (#6227)
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
Owners: @dotnet/templating-engine-maintainers

[main] Remove System.CommandLine dependency from Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj (#6229)
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
Owners: @dotnet/templating-engine-maintainers

Trim away netframework targets in source-build (#6234)
  eng/SourceBuild.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

add SpecialCustomOperations example
  docs/Reference-for-template.json.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

Improve the message for corrupted global settings file (#6191)
  src/Microsoft.TemplateEngine.Edge/BuiltInManagedProvider/GlobalSettings.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

Add SpecialCustomOperations example to documentation (#6246)
  docs/Reference-for-template.json.md
Owners: @dotnet/templating-engine-maintainers, @baronfel

changes after review
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Validation/ITemplateValidatorFactory.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValidationTests.cs
Owners: @dotnet/templating-engine-maintainers

added missing localization
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Edge/Settings/Scanner.cs
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ScannedTemplateInfo.cs
Owners: @dotnet/templating-engine-maintainers

try to adjust to comand line changes
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
Owners: @dotnet/templating-engine-maintainers

validate CLI command
  src/Microsoft.TemplateEngine.Edge/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Edge/Settings/Scanner.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests.csproj
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Linux.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.OSX.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Windows.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/ValidateCommandTests.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/Microsoft.TemplateEngine.Authoring.CLI.UnitTests.csproj
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/ValidateCommandTests.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/VerifyCommandTests.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommandArgs.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Microsoft.TemplateEngine.Authoring.CLI.csproj
  tools/Microsoft.TemplateEngine.Authoring.CLI/Program.cs
Owners: @dotnet/templating-engine-maintainers

adjust to command line changes
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
Owners: @dotnet/templating-engine-maintainers

adjust to command line changes
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
Owners: @dotnet/templating-engine-maintainers

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 2134926
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

review comments
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommand.cs
Owners: @dotnet/templating-engine-maintainers

localization
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/LocalizableStrings.Designer.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/LocalizableStrings.resx
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.cs.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.de.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.es.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.fr.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.it.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.ja.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.ko.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.pl.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.pt-BR.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.ru.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.tr.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.zh-Hans.xlf
  tools/Microsoft.TemplateEngine.Authoring.CLI/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

test fix
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Linux.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.OSX.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Windows.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/ValidateCommandTests.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/ValidateCommandTests.cs
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.20
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.23
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230310.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.16
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.6
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.14
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230310.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230310.10
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230313.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.20
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.23
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.20
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230308.23
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230309.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230310.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01
