Repository dotnet/templating, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

fix test failure
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
Owners: @dotnet/templating-engine-maintainers

Don't use vulnerable packages when not --force
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/Exceptions/VulnerablePackageException.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
Owners: @dotnet/templating-engine-maintainers

Added exception for the vulnerable package found
  src/Microsoft.TemplateEngine.Abstractions/Installer/InstallerErrorCode.cs
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/Exceptions/VulnerablePackageException.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
  src/Microsoft.TemplateEngine.Utils/ListExtensions.cs
Owners: @dotnet/templating-engine-maintainers

remove unused reference
  test/Microsoft.TemplateEngine.Edge.UnitTests/Microsoft.TemplateEngine.Edge.UnitTests.csproj
Owners: @dotnet/templating-engine-maintainers

Extend package info on uninstall operation (#6307)
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateSearch.Common/TemplateSearchCache/TemplatePackageSearchData.Json.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/Microsoft.TemplateEngine.Edge.UnitTests.csproj
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
Owners: @dotnet/templating-engine-maintainers

fix test failure
  src/Microsoft.TemplateSearch.Common/Abstractions/ITemplatePackageInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackageSourceInfo.cs
Owners: @dotnet/templating-engine-maintainers

fix floating test failure
  test/Microsoft.TemplateEngine.TestHelper/TestLoggerFactory.cs
Owners: @dotnet/templating-engine-maintainers

change propery name for prefixReserved nuget flag from verified -> trusted (#6329)
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  src/Microsoft.TemplateSearch.Common/Abstractions/ITemplatePackageInfo.cs
  src/Microsoft.TemplateSearch.Common/Abstractions/TemplatePackageSearchData.cs
  src/Microsoft.TemplateSearch.Common/PublicAPI.Shipped.txt
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/LegacySearchCacheReader.cs
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/PackInfo.cs
  src/Microsoft.TemplateSearch.Common/TemplateDiscoveryMetadata/PackToTemplateEntry.cs
  src/Microsoft.TemplateSearch.Common/TemplateSearchCache/TemplatePackageSearchData.Json.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
  test/Microsoft.TemplateEngine.Mocks/MockTemplatePackageInfo.cs
  test/Microsoft.TemplateSearch.TemplateDiscovery.IntegrationTests/NuGetTests.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackProvider.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/NuGet/NugetPackageSourceInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/PackChecking/DownloadedPackInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/PackChecking/FilteredPackageInfo.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Results/LegacyMetadataWriter.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TestProvider/TestPackProvider.cs
Owners: @dotnet/templating-engine-maintainers

Added unit test fr NugetInstaller
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
Owners: @dotnet/templating-engine-maintainers

Fixed a test error
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
Owners: @dotnet/templating-engine-maintainers

Moved vulnerabilities list to InstallResult
  src/Microsoft.TemplateEngine.Abstractions/Installer/InstallResult.cs
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Shipped.txt
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
Owners: @dotnet/templating-engine-maintainers

Turn on per-repo PVP.
  eng/SourceBuild.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

add rtm branch branding
  docs/Conditional-processing-and-comment-syntax.md
  eng/Version.Details.xml
  eng/Versions.props
  eng/dependabot/Packages.props
  global.json
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Edge/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Edge/Settings/TemplateCache.cs
  src/Microsoft.TemplateEngine.Edge/Settings/TemplatePackageManager.cs
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Edge/xlf/LocalizableStrings.zh-Hant.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/OperationConfig/OperationConfigDefault.cs
  test/Microsoft.TemplateEngine.Authoring.TemplateVerifier.IntegrationTests/Snapshots/VerificationEngine_InstallsToCustomLocation_WithSettingsDirectorySpecified.editorconfig.--empty.verified/editorconfig/.editorconfig
  test/Microsoft.TemplateEngine.Authoring.TemplateVerifier.IntegrationTests/VerificationEngineTests.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/TemplateCacheTests.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/End2EndTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithConditions/test.axaml
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/Verify/VerifyCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/export/ExportCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Program.cs
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/Microsoft.TemplateEngine.Authoring.TemplateVerifier.csproj
  tools/Microsoft.TemplateEngine.Authoring.TemplateVerifier/VerificationEngine.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
  tools/Shared/Microsoft.TemplateEngine.CommandUtils/DotnetNewCommand.cs
Owners: @dotnet/templating-engine-maintainers, @baronfel, @GangWang01

add release/7.0.4xx branch
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

edit output message on package identity dupe
  src/Microsoft.TemplateEngine.Edge/Settings/TemplateCache.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/TemplateCacheTests.cs
Owners: @dotnet/templating-engine-maintainers

add rtm branch branding (#6331)
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

add release/7.0.4xx preview branch (#6332)
  eng/Versions.props
  src/Microsoft.TemplateEngine.Edge/Settings/TemplateCache.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/TemplateCacheTests.cs
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update System.CommandLine to the latest version
  eng/Version.Details.xml
  eng/Versions.props
  test/Microsoft.TemplateEngine.Authoring.CLI.UnitTests/ValidateCommandTests.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/ExecutableCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/Verify/VerifyCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/LocalizeCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/localize/export/ExportCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Commands/validate/ValidateCommand.cs
  tools/Microsoft.TemplateEngine.Authoring.CLI/Program.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/Program.cs
  tools/Microsoft.TemplateSearch.TemplateDiscovery/TemplateDiscoveryCommand.cs
Owners: @dotnet/templating-engine-maintainers, @GangWang01

update ubuntu image for unblocking search cache pipeline
  search-cache-pipeline.yml
Owners: @dotnet/templating-engine-maintainers

remove extra line
  search-cache-pipeline.yml
Owners: @dotnet/templating-engine-maintainers

Update search-cache-pipeline.yml
  search-cache-pipeline.yml
Owners: @dotnet/templating-engine-maintainers

update ubuntu image for unblocking the search cache pipeline (#6341)
  search-cache-pipeline.yml
Owners: @dotnet/templating-engine-maintainers

Update branding to 6.0.117
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.312
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 6.0.409
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.106
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update branding to 7.0.204
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Fixed some merge wonkiness
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/IDownloader.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
Owners: @dotnet/templating-engine-maintainers

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230404.18
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20230405.19
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Enable Dependabot for release/7.0.4xx
  .github/dependabot.yml
Owners: @dotnet/templating-engine-maintainers

Enable Dependabot for release/7.0.4xx (#6349)
  .github/dependabot.yml
Owners: @dotnet/templating-engine-maintainers

file renames in post action args
  docs/Post-Action-Registry.md
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ConfigModel/PostActionModel.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ConfigModel/TemplateConfigModel.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/DirectoryBasedTemplate.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/FileRenameGenerator.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/LocalizableStrings.Designer.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/LocalizableStrings.resx
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PostAction.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PrimaryOutput.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/PublicAPI.Unshipped.txt
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectConfig.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Validation/MandatoryValidationFactory.cs
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.cs.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.de.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.es.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.fr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.it.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ja.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ko.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pl.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.pt-BR.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ru.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.tr.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hans.xlf
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.zh-Hant.xlf
  src/Shared/JExtensions.cs
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Linux.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.OSX.verified.txt
  test/Microsoft.TemplateEngine.Authoring.CLI.IntegrationTests/Snapshots/ValidateCommandTests.ValidateCommand_BasicTest.Windows.verified.txt
  test/Microsoft.TemplateEngine.Edge.UnitTests/ScannerTests.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/End2EndTests.cs
  test/Microsoft.TemplateEngine.IDE.IntegrationTests/LocalizationTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/PostActionTests.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/PostActions/WithFileRename/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/PostActions/WithFileRename/MyTestProject.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/PostActions/WithFileRename/testfile.json
Owners: @dotnet/templating-engine-maintainers, @baronfel

Added version to exception, and unit tests
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/Exceptions/VulnerablePackageException.cs
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/Mocks/MockPackageManager.cs
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
Owners: @dotnet/templating-engine-maintainers

Address PR comments
  src/Microsoft.TemplateEngine.Abstractions/Installer/InstallResult.cs
  src/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  test/Microsoft.TemplateEngine.Edge.UnitTests/NuGetApiPackageManagerTests.cs
Owners: @dotnet/templating-engine-maintainers

Changed the http check to match NuGet's
  src/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
Owners: @dotnet/templating-engine-maintainers

Swap the order processing ComputedMacros and GeneratedSymbolMacros
  src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectGenerator.cs
Owners: @dotnet/templating-engine-maintainers

Add the test that verifies generated join symbol with Ref to derived symbol can be evaluated correctly
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.Frameworks.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Approvals/TestGeneratedSymbolWithRefToDerivedSymbol_DifferentOrder._.verified/TestAssets.TemplateGenSymWithRefToDerivedSym_DiffOrder/Nuget.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests.csproj
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/SnapshotTests.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifySettingsFixture.cs
  test/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/VerifyTestCollection.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGenSymbolWithRefToDerivedSymbol_DifferentOrder/ToolExtension.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/.template.config/template.json
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/MyProject.Helper.csproj
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/Tool.cs
  test/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithGeneratedSymbolWithRefToDerivedSymbol/ToolExtension.cs
Owners: @dotnet/templating-engine-maintainers

Add NuGet to dependency flow
  eng/Package.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/dependabot/Packages.props
Owners: @dotnet/templating-engine-maintainers, @GangWang01

Remove SourceBuild config due to lack of intermediates
  eng/Version.Details.xml
Owners: @dotnet/templating-engine-maintainers, @GangWang01

CODEOWNERS:

* @dotnet/templating-engine-maintainers 
/docs/ @dotnet/templating-engine-maintainers @baronfel
/eng/ @dotnet/templating-engine-maintainers @GangWang01
global.json @dotnet/templating-engine-maintainers @GangWang01
